<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shawn.repository.mybatis.BookMapper">

    <resultMap id="bookMap" type="Book">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="author" column="author"/>
        <result property="price" column="price"/>
        <result property="topic" column="topic"/>
        <result property="publishDate" column="publish_date"/>
    </resultMap>

    <insert id="insertBook" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
          book (name, author, price, topic, publish_date)
        VALUES
          (#{name}, #{author}, #{price}, #{topic}, #{publishDate})
    </insert>

    <update id="updateBookOnNameById">
        UPDATE
          book
        SET
          name = #{name}
        WHERE
          id = #{id}
    </update>

    <delete id="deleteBookById">
        DELETE FROM
          book
        WHERE
          id = #{bookId}
    </delete>

    <select id="selectBookById" resultMap="bookMap">
        SELECT
          *
        FROM
          book
        WHERE
          id = #{bookId}
    </select>

    <select id="selectBooksByAuthor" resultMap="bookMap">
        SELECT
          *
        FROM
          book
        WHERE
          author = #{author}
    </select>

    <select id="selectBooksByLowPriceAndHighPrice" resultMap="bookMap">
        SELECT
          *
        FROM
          book
        WHERE
          price BETWEEN #{lowPrice} AND #{highPrice}
    </select>

    <select id="selectAllBooks" resultMap="bookMap">
        SELECT
          *
        FROM
          book
    </select>

</mapper>